body {
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
img {
    display: block;
}

.container {
    width: 1166px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* ========HEADER======= */

.header {
    padding-top: 28px;
    padding-bottom: 36px; 
}
.header-container {
    display: flex;
    align-items: center;
}

.header-logo-italic {
    font-style: italic;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    margin-right: 90px;
    gap: 24px;
}

.header-menu-link {
    color: #111;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-menu-link:hover {
    color: #FD9222;
    transition-duration: 300ms;
}

.header-soc-list {
    display: flex;
    gap: 14px;
}

.header-soc-icon {
    fill: transparent;
    stroke: #111111;
}

.header-soc-icon:hover {
    stroke: #FD9222;
    transition-duration: 300ms;
}

/* ================= */
/* =======HERO====== */

.hero {
    padding-bottom: 80px;
}

.hero-container {
    background-color:   #11111199;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),url(../images/hero-backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.03em;
    text-align: left;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    align-items: center;
}

.hero-btn {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.22;
    padding: 14px 40px;
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    transition: background-color 1000ms ease;
}

.hero-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222;

}

.hero-made-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.22;
    background-color: transparent;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    margin-left: 14px;
    transition: background-color 1000ms ease;
}

.hero-made-link:hover {
    background-color: #FAFAFA;
    border-color: #FD9222;
    color: #FD9222;
}

.hero-scroll-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    margin-left: auto;
}
/* ================= */

/* ===DISCRIPTION=== */

.discription {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.discription-list {
    display: flex;
    gap: 88px;
    padding: 0 18px;
}

.discription-item {
    flex-basis: calc((100% - 176px) / 3 );
    position: relative;
}

.discription-item:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 124px; 
    background-color: #FFFFFF80;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
}

.discription-container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    justify-content: center;
    top: 0;
    left: 0;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
}

.discription-icon {



}

.discription-subtitle {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-align: left;
    margin-bottom: 18px;
}

.discription-text {
    color: #FFFFFFB2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}

/* ================= */

/* ======TASTE====== */

.taste {
    padding-top: 120px;
}

.container {
    max-width: 100%;
}

.taste-title {
    color: #111111;
    max-width: 412px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste-title-color {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.taste-texte {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}
.taste-item {
    background-color: #FAFAFA;
    border: 1px solid #FD9222;
    border-radius: 15px;
    padding: 28px 23px;
    flex-basis: calc((100% - 96px) / 4);
    height: 212px;
  }

  .taste-cover-wrap:nth-child(4n + 1) .taste-item {
    background-color: #FD9222;
    color: #FAFAFA;
}

.taste-cover-wrap:nth-child(4n + 3) .taste-item {
    background-color: #111;
    border: none;
    color: #FAFAFA;
}

  .taste-item:hover .taste-cover-container {
    transform: translateX(0);
  }


.taste-img {
    margin-bottom: 36px;
    max-width: 100%;
}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}


.taste-cover-wrap {
    position: relative;
    max-width: 260px;
    max-height: 270px;
    overflow: hidden;
}

.taste-cover-container {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 300ms linear;
    background-color: #FAFAFA;
    top: 0;
    left: 0;
    padding: 20px 15px;
    max-width: 260px;
    max-height: 100%;
    border-radius: 15px;

}

.taste-cover-container-a {
    max-height: 54px;
    margin-top: 0;
}

.taste-cover-container-a-a {
    max-height: 76px;
    margin-top: 0;
}

.taste-cover-container-b {
    margin-top: 20px;
}

.taste-cover-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-align: left;
    color: #111111;
}

.taste-cover-btn {
    display: flex;
    gap: 6px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.taste-cover-chocolate {
    max-width: 81px;
    height: 24px;
    padding: 6px 16px;
    border-radius: 35px;
    background-color: #FD9222;
    color: #FFFFFF;
    margin-left: 0;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-cover-milk {
    max-width: 54px;
    height: 24px;
    padding: 6px 16px;
    border-radius: 35px;
    background-color: #FD9222;
    color: #FFFFFF;
    margin-left: 0;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-cover-benefits {
    max-width: 93px;
    height: 24px;
    padding: 6px 16px;
    border-radius: 35px;
    border: 1px solid #FD9222;
    color: #111111;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-cover-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
    

}

/* ================= */

/* ======MADE======= */

.made {
    padding-top: 120px;
}

.made-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.made-title-color {
    color: #FD9222;    
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.made-wrapper {
    display: flex;
    gap: 20px;
}

.made-img {
}

.made-content {
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.made-text {
    color: #111111;
    max-width: 350px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
}

.made-list {
}

.made-item {
    margin-bottom: 24px;
    padding-left: 16px;
    position: relative;
}

.made-item::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: 1px solid #ECEDED;
    display: block;

}

.made-item :last-child {
    margin-bottom: 0;
}


.made-subtext {
    color: #111111;
    max-width: 452px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}


/* ================= */

/* =====PRODUCTS===== */

.products {
    padding-top: 120px;
}
.products-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.products-title-orange {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.products-item {
    border: 1px solid #1111111A;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 32px 20px;
    text-align: center;
}

.products-img {
    margin-bottom: 8px;
    width: 230px;
    height: 201px;
}

.products-subtitle {
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-bottom: 2px;
}

.products-text {
    color: #111111B2;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}

.products-btn {
    color: #111111;
    background-color: #FAFAFA;
    border: 1px solid #1111111A;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.22;
    padding: 8px 20px;
    border-radius: 100px;
}

/* ================= */

/* =====SELLERS===== */

.sellers {
    padding-top: 120px;
}

.sellers-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.sellers-title-orange {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.sellers-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.sellers-cover-wrap{
    position: relative;
    overflow: hidden;
}

.sellers-item {  
}

.sellers-item:hover .sellers-cover-container {
    transform: translateY(0);
}

.sellers-img {
}

.sellers-text {
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid #1111111A;
    border-bottom: 1px solid #1111111A;
    border-left: 1px solid #1111111A;
}

.sellers-cover-container{
    position: absolute;
    top: 0;
    backdrop-filter: blur(15px);
    border-radius: 15px 15px 0px 0px;
    opacity: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 300ms linear;


}

.sellers-cover-text {
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #FAFAFA;



}

/* ================= */

/* ======TEAM====== */

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #111111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 90px;
}

.team-title-orange {
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-bottom: 50px;
}

.team-item {
    position: relative;
    width: calc((100% - 56px) / 3);
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid #1111111A;
    box-shadow: 0px 9.05px 100px 0px #11111108;


}

.team-img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.team-subtitle {
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
}

.team-text {
    color: #111111B2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.team-btn {
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: #FAFAFA;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    color: #111111;
    display: block;
    margin: 0 auto;
}

/* ================= */

/* =====FOOTER====== */

.footer {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-top {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 2px solid #4C4C4C;
}

.footer-text {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    margin-right: auto;
    max-width: 300px;
}

.footer-text-orange {
    color: #FD9222;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
}

.footer-soc {
    margin-right: 50px;
}

.footer-subtext {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 14px;
}

.footer-list {
    display: flex;
    gap: 14px;
}
.footer-item {
}
.footer-link {
}

.footer-soc-icon {
    stroke: #FAFAFA;
}

.footer-soc-icon:hover {
    stroke: #FD9222;
    transition-duration: 300ms;
}

.footer-address {
    font-style: normal;
}
.footer-address-list {
}
.footer-address-item:not(:last-child) {
    margin-bottom: 4px; 
}
.footer-address-link {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

}

.footer-bottom {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {
}
.footer-navigation-list {
    display: flex;
    gap: 24px;
}
.footer-navigation-item {
}
.footer-navigation-link {
    color: #FFFFFF;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.footer-form {
    display: flex;
    gap: 8px;
}

.footer-input {
    width: 313px;
    height: 52px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 30px;
    border: 1.5px solid #FFFFFF26;
    background-color: transparent;
    outline: transparent;
    color: #FAFAFA;
}

.footer-input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: #FFFFFF4D;
}

.footer-btn {
    width: 137px;
    height: 52px;
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.22;   
}

.footer-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222;
    transition-duration: 300ms;

}

/* ================= */


.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(76, 76, 76, 0.594);
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 517px;
    min-height: 794px;
    background: #FAFAFA;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close-btn {
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 31px;
    right: 31px;
}

.modal-close-icon {
    fill: transparent;
    stroke: #111111;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    width: 298px;
    height: 56px;
    top: 40px;
    left: 40px;
    margin-bottom: 40px;
}

.modal-title-orange {
    color: #fd9222;
}

.modal-field {
    margin-bottom: 18px;
}

.modal-input {
    box-sizing: border-box;
    width: 100%;
    height: 68px;
    border-radius: 15px;
    border: 1.5px solid #1111110D;
    outline: transparent;
    box-shadow: 0px 5.44px 5.44px 0px #00000008;
    padding-left: 62px;
    transition-duration: 300ms;
}

.modal-input-wrap {
    position: relative;
}

.input-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 300ms;
}

.modal-input:hover {
    border-color: #FD9222;
}

.modal-input:hover + .input-icon {
    stroke: #fd9222;
}

.modal-input:focus {
    border-color: #FD9222;
}

.modal-input:focus + .input-icon {
    stroke: #fd9222;
}

.modal-input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: #404040;
}

.modal-label {
    display: block;
    margin-bottom: 8px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: #4040404D;
}

.modal-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 137px;
    border-radius: 15px;
    border: 1.5px solid #1111110D;
    outline: transparent;
    box-shadow: 0px 5.44px 5.44px 0px #00000008;
    transition-duration: 300ms;
    color: #4040404D;
    font-size: 18px;
    padding: 22px 24px;
    resize: none;
}

.check-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    color: #40404099;
}

.check-text a {
    text-decoration-line: underline;
    color: #FD9222;
}

.check-text span {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #11111124;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FAFAFA;
}

.modal-send-btn {
    width: 117px;
    height: 45px;
    background-color: #FD9222;
    color: #FFFFFF;
    padding: 14px 40px;
    gap: 14px;
    border-radius: 100px;
    opacity: 0px;
    border: none;
}

.form-check:checked + .check-text span {
    background-color: #FD9222;
    border: none;
}